<div class="container mt-4">
  <h1>Política de Cookies</h1>

  <h2>1. ¿Qué son las cookies?</h2>
  <p>
    La Web de PASTYBOLL S.L. utiliza Cookies. Las Cookies son ficheros enviados
    a un navegador por medio de un servidor web para registrar las actividades
    del Usuario en una web determinada. La primera finalidad de las Cookies es
    la de facilitar al usuario un acceso más rápido a los servicios
    seleccionados. Además, las Cookies personalizan los servicios que ofrece la
    Web, facilitando y ofreciendo a cada usuario información que es de su
    interés o que puede ser de su interés, en atención al uso que realiza de los
    Servicios.
  </p>
  <!-- ... More content ... -->

  <section>
    <h2>2. ¿Qué tipos de cookies existen?</h2>
    <p>Las Cookies, en función de su Permanencia, pueden dividirse en:</p>
    <ul>
      <li>
        <strong>Cookies de sesión:</strong> Las primeras expiran cuando el
        usuario cierra el navegador.
      </li>
      <li>
        <strong>Cookies persistentes:</strong> Las segundas expiran en función
        de cuando se cumpla el objetivo para el que sirven (por ejemplo, para
        que el usuario se mantenga identificado en los Servicios) o bien cuando
        se borran manualmente.
      </li>
    </ul>
    <p>
      Adicionalmente, en función de su Objetivo, las Cookies pueden clasificarse
      de la siguiente forma:
    </p>
    <ul>
      <li>
        Cookies de rendimiento: Este tipo de Cookie recuerda sus preferencias
        para las herramientas que se encuentran en los servicios, por lo que no
        tiene que volver a configurar el servicio cada vez que usted visita. A
        modo de ejemplo, en esta tipología se incluyen:
        <ul>
          <li>Ajustes de volumen de reproductores de vídeo o sonido.</li>
          <li>
            Las velocidades de transmisión de vídeo que sean compatibles con su
            navegador.
          </li>
        </ul>
      </li>
      <li>
        Cookies de geo-localización: Estas Cookies son utilizadas para averiguar
        en qué país se encuentra cuando se solicita un servicio. Esta Cookie es
        totalmente anónima, y sólo se utiliza para ayudar a orientar el
        contenido a su ubicación.
      </li>
      <li>
        Cookies de registro: Las Cookies de registro se generan una vez que el
        usuario se ha registrado o posteriormente ha abierto su sesión, y se
        utilizan para identificarle en los servicios con los siguientes
        objetivos:
        <ul>
          <li>
            Mantener al usuario identificado de forma que, si cierra un
            servicio, el navegador o el ordenador y en otro momento u otro día
            vuelve a entrar en dicho servicio, seguirá identificado, facilitando
            así su navegación sin tener que volver a identificarse. Esta
            funcionalidad se puede suprimir si el usuario pulsa la funcionalidad
            “cerrar sesión”, de forma que esta Cookie se elimina y la próxima
            vez que entre en el servicio el usuario tendrá que iniciar sesión
            para estar identificado.
          </li>
          <li>
            Comprobar si el usuario está autorizado para acceder a ciertos
            servicios, por ejemplo, para participar en un concurso.
          </li>
        </ul>
      </li>
      <li>
        Cookies analíticas: Cada vez que un Usuario visita un servicio, una
        herramienta de un proveedor externo genera una Cookie analítica en el
        ordenador del usuario. Esta Cookie que sólo se genera en la visita,
        servirá en próximas visitas a los Servicios de la Web para identificar
        de forma anónima al visitante. Los objetivos principales que se
        persiguen son:
        <ul>
          <li>
            Permitir la identificación anónima de los usuarios navegantes a
            través de la “Cookie” (identifica navegadores y dispositivos, no
            personas) y por lo tanto la contabilización aproximada del número de
            visitantes y su tendencia en el tiempo.
          </li>
          <li>
            Identificar de forma anónima los contenidos más visitados y por lo
            tanto más atractivos para los usuarios.
          </li>
          <li>
            Saber si el usuario que está accediendo es nuevo o repite visita.
          </li>
        </ul>
        <p>
          <strong>Importante:</strong> Salvo que el usuario decida registrarse
          en un servicio de la Web, la “Cookie” nunca irá asociada a ningún dato
          de carácter personal que pueda identificarle. Dichas Cookies sólo
          serán utilizadas con propósitos estadísticos que ayuden a la
          optimización de la experiencia de los Usuarios en el sitio.
        </p>
      </li>
      <li>
        Cookies de publicidad comportamental: Este tipo de “Cookies” permite
        ampliar la información de los anuncios mostrados a cada usuario anónimo
        en los Servicios de la Web. Entre otros, se almacena la duración o
        frecuencia de visualización de posiciones publicitarias, la interacción
        con las mismas, o los patrones de navegación y/o compartimientos del
        usuario ya que ayudan a conformar un perfil de interés publicitario. De
        este modo, permiten ofrecer publicidad afín a los intereses del usuario.
      </li>
      <li>
        Cookies publicitarias de terceros: Además de la publicidad gestionada
        por la Web en sus Servicios, la Web ofrece a sus anunciantes la opción
        de servir anuncios a través de terceros (“AdServers”). De este modo,
        estos terceros pueden almacenar Cookies enviadas desde los Servicios de
        la Web procedentes de los navegadores de los Usuarios, así como acceder
        a los datos que en ellas se guardan.
        <ul>
          <li>
            Weborama:
            <a
              href="http://www.weborama.com/e-privacy/our-commitment/"
              target="_blank"
              >http://www.weborama.com/e-privacy/our-commitment/</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h2>3. ¿Qué cookies utilizamos?</h2>
    <p>Las cookies que utilizamos en nuestra página web son:</p>
    <ul>
      <li>
        <strong>Propias:</strong> Son aquéllas que se envían al equipo terminal
        del usuario desde un equipo o dominio gestionado por el propio editor y
        desde el que se presta el servicio solicitado por el usuario.
      </li>
      <li>
        <strong>Cookies de sesión</strong>
      </li>
      <li>
        <strong>De terceros:</strong> Son aquéllas que se envían al equipo
        terminal del usuario desde un equipo o dominio que no es gestionado por
        el editor, sino por otra entidad que trata los datos obtenidos a través
        de las cookies.
        <ul>
          <li>
            <strong>Google Analytics:</strong>
            <a
              href="https://support.google.com/analytics/answer/6004245?hl=es"
              target="_blank"
              >https://support.google.com/analytics/answer/6004245?hl=es</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h2>4. ¿Cómo deshabilitar las Cookies?</h2>
    <p>
      Normalmente es posible dejar de aceptar las Cookies del navegador, o dejar
      de aceptar las Cookies de un Servicio en particular.
    </p>
    <p>
      Todos los navegadores modernos permiten cambiar la configuración de
      Cookies. Estos ajustes normalmente se encuentran en las "opciones" o
      "preferencias" del menú de su navegador. Asimismo, puede configurar su
      navegador o su gestor de correo electrónico, así como instalar
      complementos gratuitos para evitar que se descarguen los Web Bugs al abrir
      un email.
    </p>
    <p>
      La Web ofrece orientación al Usuario sobre los pasos para acceder al menú
      de configuración de las cookies y, en su caso, de la navegación privada en
      cada uno de los navegadores principales:
    </p>
    <ul>
      <li>
        Internet Explorer: Herramientas -> Opciones de Internet -> Privacidad ->
        Configuración. Para más información, puede consultar el soporte de
        Microsoft o la Ayuda del navegador.
      </li>
      <li>
        Firefox: Herramientas -> Opciones -> Privacidad -> Historial ->
        Configuración personalizada.
      </li>
      <li>
        Chrome: Configuración -> Mostrar opciones avanzadas -> Privacidad ->
        Configuración de contenido.
      </li>
      <li>
        Safari: Preferencias -> Seguridad. Para más información, puede consultar
        el soporte de Apple o la Ayuda del navegador.
      </li>
    </ul>
  </section>

  <section>
    <h2>5. ¿Se pueden producir modificaciones de la Política de Cookies?</h2>
    <p>
      La Web puede modificar esta Política de Cookies en función de las
      exigencias legislativas, reglamentarias, o con la finalidad de adaptar
      dicha política a las instrucciones dictadas por la Agencia Española de
      Protección de Datos, por ello se aconseja a los usuarios que la visiten
      periódicamente.
    </p>
    <p>
      Cuando se produzcan cambios significativos en esta Política de Cookies, se
      comunicarán a los usuarios bien mediante la web o a través de correo
      electrónico a los usuarios registrados.
    </p>
  </section>
</div>
