.bakery__container {
  margin: 0 15%; /* Utiliza la propiedad abreviada margin para simplificar */
}

.bread__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.bread__category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.bread__sub-category {
  flex: 0 0 auto;

  ul {
    list-style: none;
    padding: 0;
    width: 10rem;
    background: #fff;
  }

  a {
    display: block;
    padding: 9px 10px 5px 10px;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }

  a:hover,
  a:active {
    background: linear-gradient(to bottom, #d77f40 0%, #cb6015 100%);
    color: #fff;
  }

  a:after {
    content: "〉";
    float: right;
    font-weight: bold;
    color: #808080;
    font-size: 13px;
    text-shadow: 1px 0 1px #808080;
  }

  a:hover:after {
    color: #fff;
    text-shadow: 1px 0 1px #fff;
  }
}

.bread__card {
  display: flex;
  flex-wrap: wrap;
}
