.bakery__container {
  margin-left: 15%;
  margin-right: 15%;
}

.bread__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    text-align: center;
  }
}

.bread__sub-category {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  ul {
    list-style: none;
    padding: 0;
    width: 10rem;
    background: #fff;
  }

  a {
    display: block;
    padding: 9px 10px 5px 10px;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }

  /* Styles for hover and active states */
  a:hover,
  a:active {
    background: linear-gradient(to bottom, #d77f40 0%, #cb6015 100%);
    color: #fff;
  }

  /* Styles for the right arrow indicator */
  a:after {
    content: "〉";
    float: right;
    font-weight: bold;
    color: #808080;
    font-size: 13px;
    text-shadow: 1px 0 1px #808080;
  }

  /* Styles for arrow indicator on hover */
  a:hover:after {
    color: #fff;
    text-shadow: 1px 0 1px #fff;
  }
}
