<div class="bakery__container">
  <div class="bread__header">
    <h2>
      En Pastyboll, creemos en simplificar su experiencia de compra. No queremos
      abrumarlo con una larga lista de productos. En su lugar, hemos organizado
      nuestras categorías para que pueda tener una idea clara de lo que
      ofrecemos.
    </h2>
    <h3>
      Siéntase libre de explorar y llámenos sin compromiso si tiene alguna
      pregunta o necesita más información. Estamos aquí para ayudarle a
      encontrar exactamente lo que necesita.
    </h3>
    <h1>PAN</h1>
  </div>
  <div class="bread__sub-category">
    <ul class="subcategory-list">
      <li class="subcategory-item">
        <a>
          <span class="subcategory-icon">▶️</span> Cristalino
          <span class="subcategory-arrow">➡️</span>
        </a>
      </li>
      <li class="subcategory-item">
        <a>
          <span class="subcategory-icon">▶️</span> Tradicional
          <span class="subcategory-arrow">➡️</span>
        </a>
      </li>
      <li class="subcategory-item">
        <a>
          <span class="subcategory-icon">▶️</span> Gran Reserva
          <span class="subcategory-arrow">➡️</span>
        </a>
      </li>
      <li class="subcategory-item">
        <a>
          <span class="subcategory-icon">▶️</span> Especialidades
          <span class="subcategory-arrow">➡️</span>
        </a>
      </li>
      <li class="subcategory-item">
        <a>
          <span class="subcategory-icon">▶️</span> Vegano
          <span class="subcategory-arrow">➡️</span>
        </a>
      </li>
    </ul>
  </div>
</div>
