<div class="row justify-content-center">
    <ngb-carousel *ngIf="images" class="carousel-container carousel-dark carousel-sm mx-auto">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper d-flex justify-content-center">
          <img [src]="images[0]" alt="Random first slide" />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper d-flex justify-content-center">
          <img [src]="images[1]" alt="Random second slide" />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper d-flex justify-content-center">
          <img [src]="images[2]" alt="Random third slide" />
        </div>
      </ng-template>
    </ngb-carousel>
</div>
