<div class="row justify-content-center">
    <ngb-carousel *ngIf="images" class="carousel-container carousel-dark carousel-sm mx-auto">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper d-flex justify-content-center">
          <img [src]="images[0]" alt="Europastry-logo" />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper d-flex justify-content-center">
          <img [src]="images[1]" alt="Okin-logo" />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper d-flex justify-content-center">
          <img [src]="images[2]" alt="Frida-logo" />
        </div>
      </ng-template>
    </ngb-carousel>
</div>
