/* Estilos para el carrusel más pequeño (carousel-sm) */
.carousel-container {
  margin-top: 3rem;
}

.carousel-sm {
  max-width: 400px; /* Ancho ajustado a 290px */
  max-height: 200px; /* Altura ajustada a 120px */
}

/* Estilos adicionales para las imágenes dentro del carrusel */
.carousel-sm .picsum-img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}
