.carousel__container{
  display: flex;
}

.carousel__image {
  max-width: 30%; /* Cambia este valor según el tamaño deseado */
  height: auto; /* Mantén la proporción original de la imagen */
  display: block; /* Asegura que la imagen se muestre como un bloque */
  margin: 0 auto; /* Centra las imágenes horizontalmente */
  border-radius: 5px; /* Agrega bordes redondeados si es necesario */
}
