<div class="not-found__container">
  <div>
    <div class="not-found__title">
      <h1>404</h1>
      <div>
        <div class="not-found__four_zero_four_bg"></div>

        <div class="not-found__contant_box_404">
          <div class="not-found__contant_box_404_centering">
            <div class="not-found__contant_box_404_title">
              <h3>Vaya... Parece que la solución no está aquí</h3>
            </div>

            <p>¡La página que estás buscando se ha debido perder!</p>
            <div class="not-found__contant_box_404_button">
              <a routerLink="/home" class="not-found__link_404">Ir a Inicio</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
