<header class="site-header">
  <div class="header__wrapper header__site">
    <img
      src="../../../assets/img/logo/logo_pastyboll.png"
      class="header__pastybol-logo"
      alt="Pastyboll logo"
    />
    <img
      src="../../../assets/img/logo/title_pastyboll.png"
      class="header__pastybol-title"
      alt="Pastyboll title"
    />

    <div class="header__nav-container">
      <nav class="header__nav-item">
        <a
          routerLink="/home"
          [ngClass]="{
            'nav-link': true,
            active: navigationService.activeLink === '/home'
          }"
          class="header__nav-link"
          >Inicio</a
        >
      </nav>
      <nav class="header__nav-item">
        <a
          routerLink="/company"
          [ngClass]="{
            'nav-link': true,
            active: navigationService.activeLink === '/company'
          }"
          class="header__nav-link"
          >Nosotros</a
        >
      </nav>
      <nav class="header__nav-item">
        <a
          routerLink="/products"
          [ngClass]="{
            'nav-link': true,
            active: navigationService.activeLink === '/products'
          }"
          class="header__nav-link"
          >Productos</a
        >
      </nav>
      <nav class="header__nav-item">
        <a
          routerLink="/contact"
          [ngClass]="{
            'nav-link': true,
            active: navigationService.activeLink === '/contact'
          }"
          class="header__nav-link"
          >Contacto</a
        >
      </nav>
      <nav class="header__nav-item">
        <a
          routerLink="/news"
          [ngClass]="{
            'nav-link': true,
            active: navigationService.activeLink === '/news'
          }"
          class="header__nav-link"
          >Noticias</a
        >
      </nav>
    </div>

    <div
      class="header__hamburger"
      [class.active]="menuActive"
      (click)="toggleMenu()"
    >
      <div class="header__hamburger-line line1"></div>
      <div class="header__hamburger-line line2"></div>
      <div class="header__hamburger-line line3"></div>
    </div>
  </div>
  <div class="header__divider"></div>

  <ul class="header__hamburger-menu" [class.active]="menuActive">
    <li><a routerLink="/home">Inicio</a></li>
    <li><a routerLink="/company">Nosotros</a></li>
    <li><a routerLink="/products">Productos</a></li>
    <li><a routerLink="/contact">Contacto</a></li>
    <li><a routerLink="/news">Noticias</a></li>
  </ul>
</header>
