<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Pastyboll</span>
  </a>

  <div class="mx-5">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          routerLink="/home"
          [ngClass]="{
            'nav-link': true,
            active: navigationService.activeLink === '/home'
          }"
          class="nav-link"
          >Inicio</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/company"
          [ngClass]="{
            'nav-link': true,
            active: navigationService.activeLink === '/company'
          }"
          class="nav-link"
          >Nosotros</a
        >
      </li>
      <li class="nav-item"><a href="#" class="nav-link">Vimeo</a></li>
      <li class="nav-item">
        <a
          routerLink="/products"
          [ngClass]="{
            'nav-link': true,
            active: navigationService.activeLink === '/products'
          }"
          class="nav-link"
          >Productos</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/contact"
          [ngClass]="{
            'nav-link': true,
            active: navigationService.activeLink === '/contact'
          }"
          class="nav-link"
          >Contacto</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/news"
          [ngClass]="{
            'nav-link': true,
            active: navigationService.activeLink === '/news'
          }"
          class="nav-link"
          >Noticias</a
        >
      </li>
    </ul>
  </div>
</header>
