.nav-pills {
  --bs-nav-pills-link-active-bg: #cb6015; /* Cambia el color de fondo a tu preferencia (naranja en este caso) */
}

.nav {
  --bs-nav-link-color: #000000;
  --bs-nav-link-hover-color: #cb6015;
}
