<header class="site-header">
  <div class="header__wrapper header__site">
    <img
      src="../../../assets/img/logo/logo_pastyboll.png"
      class="header__pastybol-logo"
      alt="Pastyboll logo"
    />
    <img
      src="../../../assets/img/logo/title_pastyboll.png"
      class="header__pastybol-title"
      alt="Pastyboll title"
    />

    <div class="header__nav-container">
      <nav class="header__nav-item">
        <a
          routerLink="/home"
          [ngClass]="{
            'nav-link': true,
            active: navigationService.activeLink === '/home'
          }"
          class="header__nav-link"
          >Inicio</a
        >
      </nav>
      <nav class="header__nav-item">
        <a
          routerLink="/company"
          [ngClass]="{
            'nav-link': true,
            active: navigationService.activeLink === '/company'
          }"
          class="header__nav-link"
          >Nosotros</a
        >
      </nav>
      <nav class="header__nav-item"><a href="#" class="header__nav-link">Vimeo</a></nav>
      <nav class="header__nav-item">
        <a
          routerLink="/products"
          [ngClass]="{
            'nav-link': true,
            active: navigationService.activeLink === '/products'
          }"
          class="header__nav-link"
          >Productos</a
        >
      </nav>
      <nav class="header__nav-item">
        <a
          routerLink="/contact"
          [ngClass]="{
            'nav-link': true,
            active: navigationService.activeLink === '/contact'
          }"
          class="header__nav-link"
          >Contacto</a
        >
      </nav>
      <nav class="header__nav-item">
        <a
          routerLink="/news"
          [ngClass]="{
            'nav-link': true,
            active: navigationService.activeLink === '/news'
          }"
          class="header__nav-link"
          >Noticias</a
        >
      </nav>
    </div>
  </div>
  <div class="header__divider"></div>
</header>
