<div class="company__container">
  <div class="company__intro">
    <div class="company__img">
      <div
        class="image-with-border d-flex align-items-center justify-content-center"
      >
        <img
          src="/assets/img/company.png"
          class="img-fluid"
          alt="Panadero"
        />
      </div>
    </div>
    <div class="company__text">
      <p>
        Pastyboll es una<strong>
          empresa familiar que lleva 30 años dedicándose a la distribución de
          masas congeladas.</strong
        >
        Estamos especializados en productos que llegan a todo tipo de
        establecimiento, desde el panadero tradicional hasta toda la gama de
        hostelería
      </p>
      <p>
        En 1988 comenzó su andadura en este mundo tan bonito y apasionante,
        siendo Dolce D'oro y Cobopa las primeras distribuciones.
      </p>
      <p>
        En 1993 se produjo el cambio más importante para Pastyboll.
        <strong
          >Con la llegada de FRIDA, principal marca del grupo EUROPASTRY</strong
        >, Pastyboll ha ido consolidándose a lo largo de estos años como una
        empresa reconocida por ofrecer calidad, servicio y valor añadido a todos
        sus clientes.
      </p>
      <p>
        En Pastyboll nos esforzamos diariamente para
        <strong
          >ofrecerle soluciones que le permitan avanzar y mejorar en su
          negocio</strong
        >, porque creemos que "su éxito es nuestro éxito”
      </p>
      <p>
        Trabajamos con
        <strong
          >marcas reconocidas por su calidad como Frida, FriArt, Okin, Priela,
          Horneo, Antiga, Pan Barcos o Mª Magdalena</strong
        >. Además colaboramos con empresas que cuentan con
        <strong
          >principios de calidad como eliminar las grasas hidrogenadas, y los
          colorantes artificiales, con certificados de calidad CLEAN LABEL,
          BRC…</strong
        >
      </p>
    </div>
  </div>
  <div class="company__objetives">
    <div class="company__mision">
      <h2>Misión</h2>
      <p>
        En Pastyboll SL, nuestra misión es ser el proveedor líder en la
        distribución de masas congeladas en Zaragoza, ofreciendo productos de
        panadería y bollería de la más alta calidad.
      </p>
      <p>
        Nos comprometemos a satisfacer las necesidades de nuestros clientes,
        superando sus expectativas con una amplia variedad de productos
        deliciosos y convenientes. A través de la innovación constante, el
        compromiso con la excelencia y un enfoque centrado en el cliente,
        buscamos ser un pilar esencial para el éxito y el crecimiento de
        nuestros socios comerciales.
      </p>
    </div>

    <div class="company__vision">
      <h2>Visión</h2>
      <p>
        Nuestra visión en Pastyboll es convertirnos en el referente indiscutible
        en la distribución de masas congeladas en Zaragoza y sus alrededores.
      </p>
      <p>
        Aspiramos a ser reconocidos por la calidad insuperable de nuestros
        productos, la eficiencia de nuestros servicios y el valor que aportamos
        a nuestros clientes y colaboradores. Buscamos expandir constantemente
        nuestro catálogo de productos, adaptándonos a las tendencias del mercado
        y manteniendo nuestro compromiso con la sostenibilidad y la
        responsabilidad social.
      </p>

      <p>
        A través de la excelencia en todo lo que hacemos, nos esforzamos por ser
        una empresa líder, admirada tanto por nuestra competencia como por el
        impacto positivo que generamos en la comunidad.
      </p>
    </div>

    <div class="company__values">
      <h2>Valores</h2>
      <ul>
        <li>
          <strong>Calidad</strong>: Nos comprometemos a ofrecer productos
          congelados de la más alta calidad, elaborados con ingredientes frescos
          y seleccionados cuidadosamente para garantizar el sabor y la frescura
          en cada bocado.
        </li>
        <li>
          <strong>Innovación:</strong> Nos mantenemos a la vanguardia de la
          industria, adoptando nuevas tecnologías y procesos que mejoren
          nuestros productos y servicios, así como la eficiencia en nuestras
          operaciones.
        </li>
        <li>
          <strong>Orientación al cliente:</strong> Nuestros clientes son la
          razón de nuestra existencia, por lo que nos esforzamos por comprender
          sus necesidades y proporcionar soluciones personalizadas y un servicio
          excepcional.
        </li>
        <li>
          <strong>Sostenibilidad:</strong> Somos conscientes del impacto
          ambiental de nuestra actividad y nos comprometemos a adoptar prácticas
          sostenibles en todas nuestras operaciones, buscando minimizar nuestra
          huella ecológica.
        </li>
        <li>
          <strong>Trabajo en equipo:</strong> Valoramos a nuestros empleados
          como el activo más importante de la empresa. Fomentamos un ambiente
          colaborativo y de respeto, donde cada miembro del equipo contribuye
          con su talento y creatividad para alcanzar nuestros objetivos comunes.
        </li>
        <li>
          <strong>Ética y responsabilidad:</strong> Actuamos con integridad en
          todas nuestras relaciones comerciales y nos regimos por altos
          estándares éticos. Nos responsabilizamos de nuestras acciones y
          decisiones, velando por el bienestar de nuestros clientes, empleados y
          la comunidad en general.
        </li>
        <li>
          <strong>Excelencia operativa:</strong> Buscamos la excelencia en cada
          aspecto de nuestro negocio, desde la selección de materias primas
          hasta la entrega de nuestros productos, garantizando una experiencia
          satisfactoria para nuestros clientes en todo momento.
        </li>
      </ul>
    </div>
  </div>
</div>
