<div class="business__container">
  <div class="business__title-text">
    <h1>¡Dale Vida a tu Negocio con Pastyboll!</h1>

    <p>
      Si estás buscando la manera perfecta de emprender (o continuar) en el
      mundo de la gastronomía, has llegado al lugar indicado. Pastyboll te abre
      las puertas a un universo de sabores listos para ser explorados y
      convertidos en una fuente de ingresos irresistible.
    </p>

    <p>
      Convierte cada rincón de tu negocio en un oasis de aromas tentadores,
      donde tus clientes siempre encontrarán una variedad de productos que
      satisfagan sus antojos y necesidades. Desde panes artesanales hasta
      exquisitos croissants y dulces irresistibles, estamos aquí para proveerte
      de la materia prima que te permitirá deleitar a tus clientes una y otra
      vez.
    </p>

    <p>
      ¿Estás listo para comenzar este emocionante viaje? ¡Explora nuestras
      opciones de masas congeladas y comienza a construir tu negocio de ensueño
      hoy mismo!
    </p>
  </div>
  <div class="business__select-business">
    <div class="business__card business__card-bakery" (click)="selectBakery()">
      PANADERÍA
    </div>
    <div
      class="business__card business__card-restaurant"
      (click)="selectRestoration()"
    >
      RESTAURACIÓN
    </div>
    <div class="business__card business__card-hotels" (click)="selectHoreca()">
      HORECA
    </div>
  </div>
  <div class="business__selected-bakery" *ngIf="displayBakery">
    <div class="business__selected-bakery-text">
      <p>
        Si eres un amante de los aromas cálidos y reconfortantes que provienen de
        una panadería tradicional, has llegado al lugar perfecto. Nuestra pestaña
        de <strong>Panadería</strong> es el paraíso de los panaderos caseros y
        aficionados al pan recién horneado.
      </p>
      <p>
        En este espacio especial, hemos recopilado con cariño nuestros productos
        más vendidos que harán las delicias de tu paladar y añadirán ese toque
        mágico a tus momentos cotidianos. Desde baguettes crujientes hasta bollos
        de canela irresistibles, cada artículo ha sido cuidadosamente elaborado
        por nuestros expertos panaderos y luego congelado para preservar la
        frescura y autenticidad.
      </p>
      <p>
        Ya sea que estés buscando la base perfecta para tu sándwich favorito o
        simplemente quieras disfrutar de una mañana deliciosa con un panecillo
        tierno y esponjoso, nuestra selección de masas congeladas te ofrece la
        versatilidad y la calidad que mereces.
      </p>
    </div>
  </div>
  <div class="business__selected-bakery" *ngIf="displayRestoration">
    <p>Restoration works</p>
  </div>
  <div class="business__selected-bakery" *ngIf="displayHoreca">
    <p>Horeca works</p>
  </div>
</div>
