.business__container {
  margin-bottom: 5%;
}

.business__title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
}

.business__select-business {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business__card {
  position: relative;
  width: 220px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 3%;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.business__card-bakery {
  background-image: url(/assets/img/business_1.png);
}

.business__card-restaurant {
  background-image: url(/assets/img/business_2.png);
}

.business__card-hotels {
  background-image: url(/assets/img/business_3.png);
}

.business__card::before,
.business__card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #cb6015;
  transition: all 0.5s;
}

.business__card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.business__card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.business__card:hover::before,
.business__card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.business__card:hover:after {
  content: "MÁS";
}

.business__selected-bakery-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.business__selected-bakery-card {
  height: 254px;
  width: 190px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  box-shadow: 0 0 20px 8px #d0d0d0;
  overflow: hidden;
  margin-top: 5%;
  margin-left: 10%;
}

/*Image*/
.business__card-image {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #cb6015;
  background: linear-gradient(to top, #cb6015, #dfa378);
}

/*Description */
.business__card-description {
  width: 84%;
  display: flex;
  position: absolute;
  flex-direction: column;
  background-image: url("/assets/img/products/croissant_1.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  height: 90%;
  bottom: 0;
  border-radius: 16px;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1rem;
}

/*Text*/
.business__text-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.business__text-body {
  font-size: 1rem;
  line-height: 130%;
}

/* Hover states */
.business__selected-bakery-card:hover .business__card-description {
  transform: translateY(100%);
}

@media (max-width: 425px) {
  .business__title-text {
    margin-left: 4%;
    margin-right: 4%;
  }

  .business__select-business {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .business__card {
    margin: 4%;
  }
}
