<div class="business__container">
  <div class="business__title-text">
    <h1>¡Dale Vida a tu Negocio con Pastyboll!</h1>

    <p>
      Si estás buscando la manera perfecta de emprender (o continuar) en el
      mundo de la gastronomía, has llegado al lugar indicado. Pastyboll te abre
      las puertas a un universo de sabores listos para ser explorados y
      convertidos en una fuente de ingresos irresistible.
    </p>

    <p>
      Convierte cada rincón de tu negocio en un oasis de aromas tentadores,
      donde tus clientes siempre encontrarán una variedad de productos que
      satisfagan sus antojos y necesidades. Desde panes artesanales hasta
      exquisitos croissants y dulces irresistibles, estamos aquí para proveerte
      de la materia prima que te permitirá deleitar a tus clientes una y otra
      vez.
    </p>

    <p>
      ¿Estás listo para comenzar este emocionante viaje? ¡Explora nuestras
      opciones de masas congeladas y comienza a construir tu negocio de ensueño
      hoy mismo!
    </p>
  </div>
  <div class="business__select-business">
    <div class="business__card business__card-bakery">PANADERÍA</div>
    <div class="business__card business__card-restaurant">RESTAURANTE</div>
    <div class="business__card business__card-hotels">HOTEL</div>
  </div>
</div>
