.business__container {
  margin-bottom: 5%;
}

.business__title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
}

.business__select-business {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business__card {
  position: relative;
  width: 220px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 3%;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.business__card-bakery {
  background-image: url(/assets/img/business_1.webp);
}

.business__card-restaurant {
  background-image: url(/assets/img/business_2.webp);
}

.business__card-hotels {
  background-image: url(/assets/img/business_3.webp);
}

.business__card::before,
.business__card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #cb6015;
  transition: all 0.5s;
}

.business__card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.business__card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.business__card:hover::before,
.business__card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.business__card:hover:after {
  content: "MÁS";
}

.business__selected-bakery-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

@media (max-width: 425px) {
  .business__title-text {
    margin-left: 4%;
    margin-right: 4%;
  }

  .business__select-business {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .business__card {
    margin: 4%;
  }
}
