<div class="product-card__container">
  <div *ngIf="chosenOption === 'bakery'" class="product-card__bakery">
    <ng-container *ngFor="let product of productData; let i = index">
      <div class="business__selected-bakery-card">
        <div class="business__card-image">
          <p>{{ product.name }}</p>
          <p><fa-icon [icon]="faBox"></fa-icon>{{ product.box }}</p>
          <p><fa-icon [icon]="faWeight"></fa-icon>{{ product.weight }}</p>
          <p><fa-icon [icon]="faTemperature"></fa-icon>{{ product.defrost }}</p>
          <p>
            <img
              class="business__card-image-icon"
              src="/assets/icon/oven.png"
            />{{ product.oven }}
          </p>
          <p>
            <img
              class="business__card-image-icon"
              src="/assets/icon/oven.png"
            />{{ product.oventime }}
          </p>
          <p><fa-icon [icon]="faRuler"></fa-icon> {{ product.length }}</p>
        </div>
        <div
          class="business__card-description"
          [ngStyle]="{ 'background-image': 'url(' + product.image + ')' }"
        ></div>
      </div>
    </ng-container>
  </div>

  <div *ngIf="chosenOption === 'restoration'" class="product-card__bakery">
    <ng-container *ngFor="let product of productData; let i = index">
      <div class="business__selected-bakery-card">
        <div class="business__card-image">
          <p>{{ product.name }}</p>
          <p><fa-icon [icon]="faBox"></fa-icon>{{ product.box }}</p>
          <p><fa-icon [icon]="faWeight"></fa-icon>{{ product.weight }}</p>
          <p><fa-icon [icon]="faTemperature"></fa-icon>{{ product.defrost }}</p>
          <p><fa-icon [icon]="faRuler"></fa-icon> {{ product.length }}</p>
        </div>
        <div
          class="business__card-description"
          [ngStyle]="{ 'background-image': 'url(' + product.image + ')' }"
        ></div>
      </div>
    </ng-container>
  </div>

  <div *ngIf="chosenOption === 'horeca'" class="product-card__bakery">
    <ng-container *ngFor="let product of productData; let i = index">
      <div class="business__selected-bakery-card">
        <div class="business__card-image">
          <p>{{ product.name }}</p>
          <p><fa-icon [icon]="faBox"></fa-icon>{{ product.box }}</p>
          <p><fa-icon [icon]="faWeight"></fa-icon>{{ product.weight }}</p>
          <p><fa-icon [icon]="faTemperature"></fa-icon>{{ product.defrost }}</p>
          <p>
            <img class="png-icon" src="/assets/icon/oven.png" />{{
              product.oven
            }}
          </p>
          <p>
            <img class="png-icon" src="/assets/icon/oven.png" />{{
              product.oventime
            }}
          </p>
          <p><fa-icon [icon]="faRuler"></fa-icon> {{ product.length }}</p>
        </div>
        <div
          class="business__card-description"
          [ngStyle]="{ 'background-image': 'url(' + product.image + ')' }"
        ></div>
      </div>
    </ng-container>
  </div>
</div>
