<footer
  class="footer d-flex flex-wrap justify-content-between align-items-center border-top"
>
  <div class="col-md-1 d-flex">
    <p>
      <a routerLink="/home" class="mb-3 mb-md-0 text-body-secondary"
        >© 2023 Pastyboll S.L.</a
      >
    </p>
  </div>

  <div class="col-md-1 d-flex">
    <p>
      <a routerLink="/aviso-legal" class="mb-3 mb-md-0 text-body-secondary"
        >Aviso Legal</a
      >
    </p>
  </div>

  <div class="col-md-1 d-flex">
    <p>
      <a routerLink="/politica-privacidad" class="mb-3 mb-md-0 text-body-secondary"
        >Política de Privacidad</a
      >
    </p>
  </div>

  <ul class="nav col-md-1 justify-content-end list-unstyled d-flex">
    <li class="fs-2 ms-3">
      <a class="icon-color" href="https://wa.me/34689814583" target="_blank">
        <i class="bi bi-whatsapp"></i>
      </a>
    </li>
    <li class="fs-2 ms-3">
      <a
        class="icon-color"
        href="https://www.instagram.com/pastybollzaragoza/?hl=es"
        target="_blank"
      >
        <i class="bi bi-instagram"></i>
      </a>
    </li>
  </ul>
</footer>
