<div class="bakery__container">
  <div class="bakery__header">
    <h1>BOLLERÍA</h1>
  </div>
  <div class="bakery__category-container">
    <div class="bakery__sub-category">
      <ul>
        <li><a (click)="showCards('2', 'Lista')">Lista</a></li>
        <li><a (click)="showCards('2', 'Fermentada')">Fermentada</a></li>
        <li><a (click)="showCards('2', 'Cruda')">Cruda/Hojaldres</a></li>
      </ul>
    </div>

    <app-card
      class="bakery__card"
      [displayedData]="filteredProducts"
    ></app-card>
  </div>
</div>
