.home__first-title {
  text-align: center;
  margin-bottom: 5rem;
}

.home__first-title p {
  margin: 0.5rem;
}

.home__cards {
  display: flex;
  justify-content: center;
}

.home__card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.home__card-title {
  text-align: center;
  margin-bottom: 3rem;
}

.home__card-title-client {
  text-align: center;
  margin-bottom: 1rem;
}

.material-symbols-outlined {
  font-size: 2.5rem;
  color: #cb6015;
}

.home__card-text {
  margin-top: 2rem;
  text-align: center;
}

.home_arrow-divider-photos {
  display: none;
}

.home__line {
  max-width: 1070px;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 1px;
}

.home__transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    #cb6015,
    transparent
  );
}

.home__arrow-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid #cb6015;
  border-right: 1px solid #cb6015;
}

.home__img-landing {
  display: flex;
  justify-content: center;
  align-items: center;

  .home__img-landing-item {
    margin-right: 2rem;
    margin-left: 2rem;
    width: 50%;
    height: 50%;
  }
}

.home__row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.home__row-column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

  .home__row-column-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.img-fluid {
  width: 40%;
  height: 40%;
}

.home__head-text-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 850px;
  }

  .home_arrow-divider-photos {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 680px;
  }

  .home_arrow-divider-photos {
    display: none;
  }
}

@media (max-width: 425px) {
  .home__cards {
    display: block;
  }

  .home__row {
    display: grid;
  }

  .home_arrow-divider-photos {
    display: flex;
  }
}

@media (min-width: 376px) and (max-width: 480px) {
  .container {
    max-width: 340px;
  }
}
