<div class="container">
  <div class="text-center mt-4">
    <h1>Tu aliado en panadería y hostelería</h1>
    <p>
      En Pastyboll S.L., nos enorgullecemos de ser líderes en el suministro de
      productos especializados para todo tipo de establecimientos, abarcando
      desde la panadería tradicional hasta la amplia gama de la industria
      hostelera. Nuestra pasión por la excelencia y nuestro compromiso con la
      calidad nos han llevado a convertirnos en el socio preferido de numerosos
      negocios del sector.
    </p>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-3 card-container d-flex align-items-stretch">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">COMPRA ONLINE</h2>
          <i class="fs-1 bi bi-bag-check text-center my-2"></i>
          <p class="card-text">
            Con Pastyboll S.L. podrás realizar tus compras cómodamente con
            algunos clicks. Recíbelo de forma cómoda y fácil.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 card-container d-flex align-items-stretch">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">ENVÍO</h2>
          <i class="fs-1 bi bi-truck text-center my-2"></i>
          <p class="card-text">
            Realiza tu pedido y selecciona el día de entrega que mejor te
            convenga.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 card-container d-flex align-items-stretch">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">ATENCIÓN AL CLIENTE</h2>
          <i class="fs-1 bi bi-telephone-inbound text-center my-2"></i>
          <p class="card-text">
            Si desea un servicio más personalizado, puedes contactar con nuestro
            servicio de atención al cliente.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 card-container d-flex align-items-stretch">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">GARANTÍA DE CALIDAD</h2>
          <i class="fs-1 bi bi-check-circle text-center my-2"></i>
          <p class="card-text">
            Nuestra principal prioridad es la satisfacción de nuestro cliente.
            Trabajamos con las mejores marcas para ofrecer la mejor calidad.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-icons">
    <div class="col-md-6">
      <p>
        ¿Qué nos distingue? Nuestra amplia experiencia y conocimiento en el
        mundo de la panadería y la hostelería nos han permitido forjar
        relaciones sólidas con nuestros clientes a lo largo de los años.
        Trabajamos estrechamente con panaderías artesanales, pastelerías,
        restaurantes, hoteles y otros establecimientos para proporcionarles
        soluciones a medida y productos de primera calidad.
      </p>
    </div>
    <div class="col-md-6">
      <div
        class="image-with-border d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../assets/img/baker1.png"
          class="img-fluid"
          alt="Panadero"
        />
      </div>
    </div>
  </div>
  <div class="row row-icons">
    <div class="col-md-6">
      <div
        class="image-with-border d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../assets/img/oven1.png"
          class="img-fluid"
          alt="Horno"
        />
      </div>
    </div>
    <div class="col-md-6">
      <p>
        Nuestro extenso catálogo incluye una variedad de ingredientes,
        materiales de embalaje, utensilios y maquinaria especializada que
        satisfacen las necesidades de cada negocio. Desde harinas selectas hasta
        delicados envases, desde equipamiento de cocina hasta productos de
        decoración, nos esforzamos por brindar todo lo que nuestros clientes
        necesitan para destacar en sus respectivos mercados.
      </p>
    </div>
  </div>
  <div class="row row-icons">
    <div class="col-md-6">
      <p>
        Además de nuestros productos, nuestro equipo altamente capacitado está
        siempre dispuesto a asesorar y brindar soporte técnico a nuestros
        clientes. Creemos que el éxito de nuestros clientes es nuestro éxito, y
        trabajamos arduamente para ofrecerles la mejor atención y servicio
        posible. Si buscas un proveedor de confianza que entienda tu industria y
        te ofrezca soluciones personalizadas, estás en el lugar correcto. En
        Pastyboll S.L., estamos comprometidos con tu éxito y estamos listos para
        ser tu aliado estratégico en el crecimiento de tu negocio.
      </p>
    </div>
    <div class="col-md-6">
      <div
        class="image-with-border d-flex align-items-center justify-content-center"
      >
        <img src="../../../assets/img/ask1.png" class="img-fluid" alt="Horno" />
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="text-center">
      <h2>Trabajan con nosotros</h2>
    </div>
  </div>
  <app-carousel></app-carousel>
</div>
