<div class="container">
  <div class="home__first-title">
    <h1>Tu aliado en panadería y hostelería</h1>
    <p>
      En <strong>Pastyboll S.L.</strong>, nos enorgullecemos de ser
      <strong>líderes</strong> en el suministro de productos
      <strong>congelados</strong> especializados para todo tipo de
      establecimientos, abarcando desde la
      <strong>panadería</strong> tradicional hasta la amplia gama de la
      industria hostelera.
    </p>
    <p>
      Nuestra pasión por la <strong>excelencia</strong> y nuestro compromiso con
      la <strong>calidad</strong> nos han llevado a convertirnos en el
      <strong>socio</strong> preferido de numerosos negocios del sector.
    </p>
  </div>

  <div class="home__cards">
    <div class="home__card-item">
      <h2 class="home__card-title">COMPRA RÁPIDA</h2>
      <span class="material-symbols-outlined">shopping_cart_checkout</span>
      <p class="home__card-text">
        Con Pastyboll S.L. podrás realizar tus compras cómodamente con solamente
        una llamada. Recíbelo de forma cómoda y fácil.
      </p>
    </div>

    <div class="home__card-item">
      <h2 class="home__card-title">ENVÍO</h2>
      <span class="material-symbols-outlined"> local_shipping </span>
      <p class="home__card-text">
        Realiza tu pedido y selecciona el día de entrega que mejor te convenga.
      </p>
    </div>

    <div class="home__card-item">
      <h2 class="home__card-title-client">ATENCIÓN AL CLIENTE</h2>
      <span class="material-symbols-outlined"> phone_in_talk </span>
      <p class="home__card-text">
        Si desea un servicio más personalizado, puedes contactar con nuestro
        servicio de atención al cliente.
      </p>
    </div>

    <div class="home__card-item">
      <h2 class="home__card-title">GARANTÍA DE CALIDAD</h2>
      <span class="material-symbols-outlined"> order_approve </span>
      <p class="home__card-text">
        Nuestra principal prioridad es la satisfacción de nuestro cliente.
        Trabajamos con las mejores marcas para ofrecer la mejor calidad.
      </p>
    </div>
  </div>

  <div class="home__line divider home__transparent home__arrow-down"></div>

  <div class="row row-icons">
    <div class="col-md-6">
      <p>
        ¿Qué nos distingue? Nuestra amplia experiencia y conocimiento en el
        mundo de la panadería y la hostelería nos han permitido forjar
        relaciones sólidas con nuestros clientes a lo largo de los años.
        Trabajamos estrechamente con panaderías artesanales, pastelerías,
        restaurantes, hoteles y otros establecimientos para proporcionarles
        soluciones a medida y productos de primera calidad.
      </p>
    </div>
    <div class="col-md-6">
      <div
        class="image-with-border d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../assets/img/baker1.png"
          class="img-fluid"
          alt="Panadero"
        />
      </div>
    </div>
  </div>
  <div class="row row-icons">
    <div class="col-md-6">
      <div
        class="image-with-border d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../assets/img/oven1.png"
          class="img-fluid"
          alt="Horno"
        />
      </div>
    </div>
    <div class="col-md-6">
      <p>
        Nuestro extenso catálogo incluye una variedad de ingredientes,
        materiales de embalaje, utensilios y maquinaria especializada que
        satisfacen las necesidades de cada negocio. Desde harinas selectas hasta
        delicados envases, desde equipamiento de cocina hasta productos de
        decoración, nos esforzamos por brindar todo lo que nuestros clientes
        necesitan para destacar en sus respectivos mercados.
      </p>
    </div>
  </div>
  <div class="row row-icons">
    <div class="col-md-6">
      <p>
        Además de nuestros productos, nuestro equipo altamente capacitado está
        siempre dispuesto a asesorar y brindar soporte técnico a nuestros
        clientes. Creemos que el éxito de nuestros clientes es nuestro éxito, y
        trabajamos arduamente para ofrecerles la mejor atención y servicio
        posible. Si buscas un proveedor de confianza que entienda tu industria y
        te ofrezca soluciones personalizadas, estás en el lugar correcto. En
        Pastyboll S.L., estamos comprometidos con tu éxito y estamos listos para
        ser tu aliado estratégico en el crecimiento de tu negocio.
      </p>
    </div>
    <div class="col-md-6">
      <div
        class="image-with-border d-flex align-items-center justify-content-center"
      >
        <img src="../../../assets/img/ask1.png" class="img-fluid" alt="Horno" />
      </div>
    </div>
  </div>
  <div class="home__line divider home__transparent home__arrow-down"></div>
  <div class="row mt-5">
    <div class="text-center">
      <h2>Trabajan con nosotros</h2>
    </div>
  </div>
  <app-carousel></app-carousel>
</div>
