<div class="container">
  <div class="home__first-title">
    <h1>Tu aliado en panadería y hostelería</h1>
    <p>
      En <strong>Pastyboll S.L.</strong>, nos enorgullecemos de ser
      <strong>líderes</strong> en el suministro de productos
      <strong>congelados</strong> especializados para todo tipo de
      establecimientos, abarcando desde la
      <strong>panadería</strong> tradicional hasta la amplia gama de la
      industria hostelera.
    </p>
    <p>
      Nuestra pasión por la <strong>excelencia</strong> y nuestro compromiso con
      la <strong>calidad</strong> nos han llevado a convertirnos en el
      <strong>socio</strong> preferido de numerosos negocios del sector.
    </p>
  </div>

  <div class="home__cards">
    <div class="home__card-item">
      <h2 class="home__card-title">COMPRA RÁPIDA</h2>
      <span class="material-symbols-outlined">shopping_cart_checkout</span>
      <p class="home__card-text">
        Con Pastyboll S.L. podrás realizar tus compras cómodamente con solamente
        una llamada. Recíbelo de forma cómoda y fácil.
      </p>
    </div>

    <div class="home__card-item">
      <h2 class="home__card-title">ENVÍO</h2>
      <span class="material-symbols-outlined"> local_shipping </span>
      <p class="home__card-text">
        Realiza tu pedido y selecciona el día de entrega que mejor te convenga.
      </p>
    </div>

    <div class="home__card-item">
      <h2 class="home__card-title-client">ATENCIÓN AL CLIENTE</h2>
      <span class="material-symbols-outlined"> phone_in_talk </span>
      <p class="home__card-text">
        Si desea un servicio más personalizado, puedes contactar con nuestro
        servicio de atención al cliente.
      </p>
    </div>

    <div class="home__card-item">
      <h2 class="home__card-title">GARANTÍA DE CALIDAD</h2>
      <span class="material-symbols-outlined"> order_approve </span>
      <p class="home__card-text">
        Nuestra principal prioridad es la satisfacción de nuestro cliente.
        Trabajamos con las mejores marcas para ofrecer la mejor calidad.
      </p>
    </div>
  </div>

  <div class="home__line divider home__transparent home__arrow-down"></div>

  <div class="home__img-landing">
    <app-carousel-home></app-carousel-home>
  </div>
  <div class="home__line divider home__transparent home__arrow-down"></div>

  <div class="home__row">
    <div class="home__row-column">
      <div class="home__row-column-image">
        <h4>
          ¿Qué nos <strong>distingue</strong>? Nuestra amplia
          <strong>experiencia</strong> y conocimiento en el mundo de la
          panadería y la hostelería nos han permitido forjar relaciones sólidas
          con nuestros clientes a lo largo de los años. Trabajamos estrechamente
          con <strong>panaderías</strong> artesanales, pastelerías,
          <strong>restaurantes</strong>, hoteles y otros establecimientos para
          proporcionarles soluciones a medida y productos de
          <strong>primera calidad</strong>.
        </h4>
      </div>
    </div>
    <div class="home__row-column">
      <div class="home__row-column-image">
        <img src="/assets/img/baker1.webp" class="img-fluid" alt="Panadero" />
      </div>
    </div>
  </div>
  <div
    class="home__line divider home__transparent home__arrow-down home_arrow-divider-photos"
  ></div>
  <div class="home__row">
    <div class="home__row-column">
      <div class="home__row-column-image">
        <img src="/assets/img/oven1.webp" class="img-fluid" alt="Horno" />
      </div>
    </div>
    <div class="home__row-column">
      <h4>
        Nuestro extenso <strong>catálogo</strong> incluye una gran variedad de
        ingredientes, materiales de embalaje, utensilios y
        <strong>maquinaria especializada</strong> que satisfacen las necesidades
        de cada negocio. Desde harinas selectas hasta delicados envases, desde
        equipamiento de cocina hasta productos de decoración, nos
        <strong>esforzamos</strong> por brindar todo lo que nuestros clientes
        necesitan para destacar en sus respectivos mercados.
      </h4>
    </div>
  </div>
  <div
    class="home__line divider home__transparent home__arrow-down home_arrow-divider-photos"
  ></div>
  <div class="home__row">
    <div class="home__row-column">
      <h4>
        Además de nuestros productos, nuestro <strong>equipo</strong> altamente
        capacitado está siempre dispuesto a asesorar y brindar
        <strong>soporte técnico</strong> a nuestros clientes. Creemos que el
        éxito de nuestros clientes es nuestro éxito, y trabajamos arduamente
        para ofrecerles la mejor atención y servicio posible. Si buscas un
        <strong>proveedor de confianza</strong> que entienda tu industria y te
        ofrezca soluciones personalizadas, estás en el lugar correcto. En
        Pastyboll, estamos comprometidos con tu éxito y estamos listos para ser
        tu <strong>aliado estratégico</strong> en el crecimiento de tu negocio.
      </h4>
    </div>
    <div class="home__row-column">
      <div class="home__row-column-image">
        <img src="/assets/img/ask1.webp" class="img-fluid" alt="Horno" />
      </div>
    </div>
  </div>
  <div class="home__line divider home__transparent home__arrow-down"></div>

  <div class="home__ia">
    <div class="home__ia-image"></div>
    <div class="home__ia-text">
      <h4>
        En nuestra amplia selección de productos, encontrarás deliciosas
        opciones de bollería y panadería congelada que se adaptan perfectamente
        a tus necesidades.
      </h4>

      <h4>
        ¿Estás buscando croissants recién horneados para tu cafetería o una
        variedad de panes artesanales para tu restaurante? ¡Estás en el lugar
        correcto! En nuestro sitio web, te invitamos a explorar nuestra gama de
        productos, cuidadosamente elaborados para satisfacer los paladares más
        exigentes.
      </h4>

      <h4>
        Navega a través de nuestras categorías y descubre una variedad de
        opciones, desde espectaculares baguettes a deliciosos Dots. Nos
        enorgullece ofrecer productos de alta calidad que te ayudarán a
        sorprender a tus clientes y a hacer crecer tu negocio.
      </h4>

      <h4>
        ¿Tienes alguna pregunta o necesitas asesoramiento para elegir los
        productos adecuados? No dudes en contactarnos. Nuestro equipo experto
        está aquí para ayudarte en cada paso del camino. Tu satisfacción es
        nuestra prioridad.
      </h4>

      <h4>
        Así que adelante, explora nuestro sitio web y encuentra los productos de
        bollería y panadería congelada que harán que tu negocio destaque.
        Estamos ansiosos por ser tu proveedor confiable y ofrecerte productos
        frescos y deliciosos. ¡Gracias por visitarnos!
      </h4>
    </div>
  </div>
  <div class="home__line divider home__transparent home__arrow-down"></div>

  <div class="home__head-text-carousel">
    <h2>Trabajan con nosotros</h2>
  </div>

  <app-carousel></app-carousel>
</div>
