.container {
  padding-bottom: 7rem;
}

/* @font-face para IBMPlexSans - Thin 100 */
@font-face {
  font-family: "IBMPlexSans-Thin";
  font-weight: 100;
  src: url("/assets/fonts/IBMPlexSans-Thin.ttf") format("truetype");
}

/* @font-face para IBMPlexSans - Thin 100 Italic */
@font-face {
  font-family: "IBMPlexSans-ThinItalic";
  font-weight: 100;
  font-style: italic;
  src: url("/assets/fonts/IBMPlexSans-ThinItalic.ttf") format("truetype");
}

/* @font-face para IBMPlexSans - ExtraLight 200 */
@font-face {
  font-family: "IBMPlexSans-ExtraLight";
  font-weight: 200;
  src: url("/assets/fonts/IBMPlexSans-ExtraLight.ttf") format("truetype");
}

/* @font-face para IBMPlexSans - ExtraLight 200 Italic */
@font-face {
  font-family: "IBMPlexSans-ExtraLightItalic";
  font-weight: 200;
  font-style: italic;
  src: url("/assets/fonts/IBMPlexSans-ExtraLightItalic.ttf") format("truetype");
}

/* @font-face para IBMPlexSans - Light 300 */
@font-face {
  font-family: "IBMPlexSans-Light";
  font-weight: 300;
  src: url("/assets/fonts/IBMPlexSans-Light.ttf") format("truetype");
}

/* @font-face para IBMPlexSans - Light 300 Italic */
@font-face {
  font-family: "IBMPlexSans-LightItalic";
  font-weight: 300;
  font-style: italic;
  src: url("/assets/fonts/IBMPlexSans-LightItalic.ttf") format("truetype");
}

/* @font-face para IBMPlexSans - Regular 400 */
@font-face {
  font-family: "IBMPlexSans-Regular";
  font-weight: 400;
  src: url("/assets/fonts/IBMPlexSans-Regular.ttf") format("truetype");
}

/* @font-face para IBMPlexSans - Regular 400 Italic */
@font-face {
  font-family: "IBMPlexSans-Italic";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/IBMPlexSans-Italic.ttf") format("truetype");
}

/* @font-face para IBMPlexSans - Medium 500 */
@font-face {
  font-family: "IBMPlexSans-Medium";
  font-weight: 500;
  src: url("/assets/fonts/IBMPlexSans-Medium.ttf") format("truetype");
}

/* @font-face para IBMPlexSans - Medium 500 Italic */
@font-face {
  font-family: "IBMPlexSans-MediumItalic";
  font-weight: 500;
  font-style: italic;
  src: url("/assets/fonts/IBMPlexSans-MediumItalic.ttf") format("truetype");
}

/* @font-face para IBMPlexSans - SemiBold 600 */
@font-face {
  font-family: "IBMPlexSans-SemiBold";
  font-weight: 600;
  src: url("/assets/fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
}

/* @font-face para IBMPlexSans - SemiBold 600 Italic */
@font-face {
  font-family: "IBMPlexSans-SemiBoldItalic";
  font-weight: 600;
  font-style: italic;
  src: url("/assets/fonts/IBMPlexSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSans-Bold";
  font-weight: bold;
  src: url("/assets/fonts/IBMPlexSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSans-BoldItalic";
  font-style: italic;
  font-weight: bold;
  src: url("/assets/fonts/IBMPlexSans-BoldItalic.ttf") format("truetype");
}

h1 {
  font-family: "IBMPlexSans-BoldItalic", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-weight: 700;
}

h2 {
  font-family: "IBMPlexSans-SemiBoldItalic", sans-serif;
  font-style: italic;
  font-weight: 600;
}

h3 {
  font-family: "IBMPlexSans-Medium", sans-serif;
  font-weight: 500;
}

h4 {
  font-family: "IBMPlexSans-Regular", sans-serif;
  font-weight: 400;
}

h5 {
  font-family: "IBMPlexSans-Light", sans-serif;
  font-weight: 300;
}

h6 {
  font-family: "IBMPlexSans-Thin", sans-serif;
  font-weight: 100;
}

body {
  font-family: "IBMPlexSans-Regular", sans-serif;
  font-weight: 400;
}

p {
  font-family: "IBMPlexSans-Regular", sans-serif;
  font-weight: 400;
}

span {
  font-family: "IBMPlexSans-Regular", sans-serif;
  font-weight: 400;
}

ul,
ol {
  font-family: "IBMPlexSans-Regular", sans-serif;
  font-weight: 400;
}
